@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Cabin+Sketch:wght@700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Cabin Sketch',sans-serif;
}
header {
    font-size: 50px;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
    background-color: #301934;
    text-align: center;
    cursor: pointer;
}

ul {
    list-style-type: none;
}
.background-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  
    padding: 1rem;
    min-height: 100vh;
    background-color: rgb(183, 146, 212);
    transition: all 0.25s;
}
.game {

    width: 450px;
    padding:20px 15px 50px 12px;
    margin: 0 auto;
    border-radius: 0.5rem;
  
    background-color: #fff;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }
  .game-title {
    text-align: center;
    text-transform: uppercase;
    color: rgb(163, 102, 184);
    margin-top: 1px;
    font-size: 2.5rem;

  }
  .game-timer {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 3rem;
    color:#62256c;
  }
  
  .color-list {
    display: flex;
    flex-flow: row wrap;
    width: 500px;
    margin: 0 auto;
    
  }
  
  .color-list > li {
    position: relative;
  
    width: 75px;
    height: 65px;
    border-radius: 4px;
    margin: 5px;
    overflow: hidden;
  
    background-color: rgb(154, 46, 46);
    transition: all 0.25s ease 0s;
    cursor: pointer;
    
  }
  .color-list > li .box {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  
    height: 100%;

  
    transition: all 0.25s;
    background-color: rgb(169, 241, 114);
  }
  button {
    color:rgb(149, 112, 151);
  }
  button:hover {
    color:#301934
  }
  footer {
      text-align: center;
      color: rgba(255, 255, 255, 0.75);
      font-size: 4rem;
     background-color: rgb(183, 146, 212);
     margin-top:-20px;
  }
  footer a {
    color:rgb(104, 8, 8);
    text-decoration: none;
  }
  .difficulty-button-wrapper {
    position:relative;
    display:inline-block;



  }
  .dropdown-content {
    display:none;
    position:absolute;
    background-color:rgb(255, 255, 255);
    width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    

  }
  .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    font-size: 1.0rem;
    text-align: center;
    cursor:pointer;
    width: 140px;
    margin-top: 0;
  
  }

  .dropdown-content li:hover {
  color:#a597a7;
  }
  .difficulty-button-wrapper:hover .dropdown-content {display: block;
  }


  .difficulty-button {
    cursor: pointer;
    font-size: 1.5rem;
    background:rgb(255, 255, 255);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 50px;
    font-size:1.5rem;

  }
  .button-difficulty {
    width: 180px;
  }
  .instruction-button {
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width:160px;
    height: 50px;
    margin:20px;
    border:none;

  }
  .game-button-wrapper {
    text-align: center;
    margin: 0.5rem 2rem;
    margin:30px;

  }
  .game-button {
    cursor: pointer;
    font-size: 2rem;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width:220px;
    height: 50px;
    border:none;
  }
  /**Media query**/
  @media screen and (max-width: 600px) {
    body { float:none;}
    header {
        width: 100%;
      }
    .background-container {
      width: 100%;
    }
    .game {
      width: 100%;
    }
  }
    /**Styling modal instruction button **/
    /* The Modal (background) */
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.instruction-content {
  background-color: #e2d5d5;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}